<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <header>
    <h1>Checkout</h1>
  </header>
  <body>
    <p class = "checkout_main">
      <%= form_for(Customer.new) do |f| %>
      <div class = "form_field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class = "form_field">
      <%= f.label :password %>
      <%= f.text_field :password %>
      </div>
      <div class = "form_field">
      <%= f.label :province_id %>
      <%= f.select :province_id, @provinces.map { |province| [ province.name, province.id ] } %>
      </div>
      <div class = "form_field">
        <%= link_to '<button type="button">Confirm Order</button>'.html_safe, checkout_path %>
      </div>
      <%end%>
      </form>
      <div class="order_products">
        <h4>Products Ordered</h4>
        <% @products_in_cart.each do |product| %>
          <%= render 'products/order_product', :product => product %>
        <% end %>
        <p>Subtotal: <%= number_to_currency @products_in_cart.inject(0) { |subtotal, product| subtotal + (product.price * session[:cart]["#{product.id}"]) }%></p>
      </div>
      <div class="both"></div>
    </p>
  </body>
</html>
