<div class="product">
  <h3><%= link_to product.name, show_product_path(product.id) %></h3>
  <p class="product_image">
    <% if product.image.url.include? 'missing.png' %>
      <%= link_to '[' + product.name + ']', show_product_path(product.id) %>
    <% else %>
      <%= link_to image_tag(product.image.url(:med)), show_product_path(product.id) %>
    <% end %>
  </p>
  <p class = 'price'>Price: $<%= product.price %></p>
  <% if @products_in_cart.include?(product) %>
    <%= link_to "Remove", remove_from_cart_product_path(product), method: :post, class: "link_to_item" %>
  <% else %>
    <%= link_to "Add", add_to_cart_product_path(product), method: :post, class: "link_to_item" %>
  <% end %>

</div>
