<nav>
  <ul class = "navigation">
    <li><%= link_to 'Home', index_path %></li>
    <div class="dropdown">
      <div class="dropbtn">Categories</div>
      <div class="dropdown-content">
        <% @categories.each do |category| %>
            <%=link_to category.name, show_path(category.id)%>
        <%end%>
      </div>
    </div>
    <li><%= link_to 'Cart', cart_path %></li>
    <li><%= link_to 'ABoot', index_path %></li>
    <li><%= link_to 'Contact', index_path %></li>
    <%= render 'common/search', :categories => @categories %>
  </ul>
</nav>
