<!DOCTYPE html>
<html>
  <head>
    <title>Useful Gadgets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <header>
    <h1><%= link_to 'Useful Gadgets', index_path %></h1>
    <%= render 'common/links', :categories => @categories %>
  </header>
  <body>
    <div class="flash">

    </div>
    <%= yield %>
  </body>
  <footer>
    <%= render 'common/footer' %>
  </footer>
</html>
