<!DOCTYPE html>
<html>
  <head>
    <title>Useful Gadgets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render 'common/links', :categories => @categories %>
    <header>
      <%= form_tag search_products_path do %>
          <select name="search_category">
              <option value="-1">All</option>
            <% @categories.each do |category| %>
              <option value="<%=category.id%>"><%=category.name%></option>
            <% end %>
        </select>
        <input class="searchbar" id="searchbar" name="query" placeholder="Search Products" type="text" autocomplete="off"/>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
